.tile {
    text-align: center;
}
.title {
    margin: auto;
}
.content {
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
}
div {
    display: inline-block;
}

div label {
    display: block;
}